modules = ["web", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 34682450
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd bibliometa && python main.py"

[[ports]]
localPort = 5000
externalPort = 80
