{% extends "base.html" %}

{% block title %}login{% endblock %}

{% block content %}
<form method = "POST"></form>
    <div class="container mt-5">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username_user" name="username" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password_user" name="password_user" required>
        </div>
        <button type="button" class="container_botao" onclick="window.location.href='{{ url_for('busca_livro') }}'">Concluido</button>
    </div>
</form>
{% endblock %}
